<div class="main-menu">
    <div class="container d-flex">
        <div>
            <ul class="nav nav-menu">
                <li class='nav-item @(ViewBag.Menu == "Quote" ? "active" : "")'><a class="nav-link" href="/">QUOTE</a></li>
                <li class='nav-item @(ViewBag.Menu == "Loan" ? "active" : "")'><a class="nav-link" href="/loans">LOAN</a></li>
            </ul>
        </div>
    </div>
</div>

